---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}

<div class="row">
  <div class="column">    
    <p>My research focuses on the connection between the built environment and human health, with a particular interest on the social and environmental determinants of health. I have been working on two research streams to push the boundary of interdisciplinary urban health research.</p>
  
    <p>One stream is related to applying the concept of “cities as data” to understand cities as invisible grids and overlapping networks made up of vast quantities of data from sensors to crowdsourcing platforms. Another stream uses “cities as a living lab” to assess the impact and effectiveness of place-based approaches to addressing the wider determinants of health inequalities.</p>
    
    </p>My goal is to work with local communities and stakeholders to develop a more equitable and sustainable place-based approach to improving health and resilience across the lifespan.</p>
  </div>
  <div class="column">
    <img src='/images/diagram.png'>
  </div>
</div>


<div>
<b>Featured Research</b>
</div>


{% for post in site.research %}
  {% include archive-single.html %}
{% endfor %}

